* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    outline: none;
    border: none;
    background: url(assets/appzillonui.png) no-repeat center center/cover;
    width: 100vw;
    height: 96vh;
    margin: 0px;
    padding: 0px;
}

.conatiner {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.icon {
    max-width: 100%;
    height: auto;
}

.chat-box {
    display: none;
    position: absolute;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
    flex-direction: column;
    right: 16px;
    width: 377px;
    height: 441px;
    bottom: 55px;
    background-color: #fff;
    border-radius: 16px;
}

.chat-box.open-chat {
    display: block;
}

.client {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #000;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    position: relative;
}



.chats {
    box-sizing: border-box;
    width: 100%;
    padding: calc(10px) 5px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    height: 73%;
    overflow-y: scroll;
    background-color: #e9e3e3;
}

.chatbot .chatbox {
    height: 410px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 30px;
    width: 27px;
    align-self: flex-end;
    background: #929f9d;
    color: #fff;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    justify-content: flex-end;
    margin: 20px 0;
}

.chatbox .chat p {
    padding: 12px 16px;
    background: #a07520;
    max-width: 75%;
    font-size: 0.95rem;
    border-radius: 10px 10px 0 10px;
    color: #fff
}

.chatbox .incoming p {
    color: #000;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chat-input {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 62px;
    border-top: 1px solid #ddd;
    align-items: center;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.send-btn {
    width: 44px;
    height: 45px;
}

/* chat box button section */

.chat-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 12px;
}

#disconnect {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.chat-btn img {
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
    transform: rotate(30deg);
}

.user-msg {
    margin: 5px;
    border: none;
    border-radius: 5px;
    resize: none;
    padding-top: 5px;
    outline: none;
    width: 85%;
    height: 65%;
    font-size: 15px;
    font-family: sans-serif;
}

.btn {
    width: 10%;
    height: 65%;
    border-radius: 50%;
    margin: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendImg {
    width: 65%;
    opacity: 0.8;
}

.btn:hover {
    background-color: #b3b3b5;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}

@keyframes chat-box {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0);
    }
}

.chat-box {
    animation: chat-box 1s ease-in;
}

.overlay {
    display: none;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}